@import "../lib/lib";
@import "modules/app";

@font-face {
  font-family: 'MyWebFont';
  src:  url('../font/KBZipaDeeDooDah.ttf') format('woff2');
        // url('myfont.woff') format('woff');
  // font-family: 'MyWebFont2';
  
        
}
@font-face {
  font-family: 'MyWebFont2';
  src:  url('../font/DKCoolCrayon.ttf') format('woff');
}

.index {
  background-color: whitesmoke;
}


.content {
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 10%;
  flex-wrap: wrap;

  .chal {
    background: radial-gradient(#4FB4E8 0%, #C195D3 30%, whitesmoke 85%);
    border-radius: 50%;
     padding: 7%;
    margin: 7%;
    position: relative;
    font-family: MyWebFont2; 
      h2 {
        font-size: 8vw;
        color: midnightblue;
        padding: 3%;
      }
  }
}

.lock {
    position: absolute;
    right: 0; top: 0;
    width: 40%;
}




.headerIndex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #76EEC6;

    .headline {
      display: flex;
      align-items: center;
      justify-content: center;

        a {
            font-family: MyWebFont;
            font-size: 8vw;
            letter-spacing: 0.2em;
            color:  white;
        }
    }
    .progressBar{
      height: 40%;
    }
}


.item{
  border: 2px solid grey;
}

.footMain{
  // height: 10%;
  background-color: #76EEC6;
  
  h3 {
  font-size: 5vw;
    // display: flex;   
    // align-items: center;
    // justify-content: center;    
    // margin: 5%
  }
  .nav {
    display: flex;   
    align-items: center;
    justify-content: space-around;
    background-color: whitesmoke;
  }
  a {
  font-size: 4vw;    
}
}
  // .navMain{
  //   display:flex;
  //   order:2;
  //   flex-direction: row;
  //   flex-wrap: nowrap;

// nav
  // //   .nav{
  // //     //display: flex;
  // //     .navOpt{
  // //       font-size: 0.8em;
  // //     }
  // //   }

  // //   .nav > li > a {
  // //     display:flex;
  // //     position:static;
  // //     padding: 0;
  // //   }

  // //   .navOpt{
  // //     height: 50%;
  // //     display:inline-flex;
  // //     }


  // // }





        