
// .bodyChal3 {
//     background-color: white; 
//     .content {
//         display: flex;
//         flex-direction: column;
//         //   justify-content: ;
//             align-items: space-around;


         
//     img {
//     // width: 40%;  
//     top: 50%;
//     left: 50%;
        
//     }
//     }
// }


.gameContainer {
    border: 2px solid black;
    //  position: relative;
  z-index: 1;
  jpg{
        // position: absolute;
  z-index: 2;
    //   z-index: 2
  }
   .row { 
//    position: absolute;
  z-index: 3; 
   display: flex;
     justify-content: center;
  align-items: stretch;
       
    .quset {
    border: 1px solid black;
    // background-color: red    
    }
   }
    
}

.boardContainer {
    // h2 { 
//    top: 200px; 
//    left: 0; 
//    width: 100%; 
// }
}
