//@import "../../lib/lib";

.game{
  display: flex;
  min-height: 100vh;
  flex-direction: column;

}
//iphone 6 	375 � 667//
.box{
  width:100%;
  height: 20%;
  background-color: #76EEC6;
  display:flex;
  flex-wrap: nowrap;
  margin-bottom: 0px;
  font-family:"Comic Sans MS";
  font-size: 12px;
  border-radius: 8px;


  .nav{
    display: flex;
    width:100%;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction:row;


    .navRuler{
      display: flex;
      list-style-type: none;
      justify-content: flex-start;


      .navItem{
        width: 50px;
        font-size: 20px;
      }
    }
  }


}

.game1{
  display:flex;
  justify-content: center;
  width:100%;
  height: 40%;
  flex-wrap: wrap;
  background-color: #E7F3EF;
  font-family:"Comic Sans MS";
  font-size: 14px;
  border-radius: 5px;
  flex:1;

  //flex-direction: column;


  .frame{
    display: flex;
    justify-content: center;
    order: 1;

    width: 100%;
    .display{
      border: 2px solid #55C3DC;
      height: 40%;
      width: 40%;
      align-content: center;
      margin:2%;
    }

  }
  .questDis{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width:90%;
    order:2;
    border: 2px solid #55C3DC;
    height: 20%;
    background-color: darkseagreen;
    padding: 2%;


  }
  .quests{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    order:3;
    width: 100%;
    height:50%;
    padding: 1%;


    .quest{
      border: 2px solid #55C3DC;
      width: 140px;
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: darkseagreen;
      margin: 2%;
    }

  }

}

.foot{
  display:flex;
  width: 100%;
  height:20%;
  background-color: #76EEC6;
  border-radius: 8px;
  justify-content: center;

}


@media screen and(max-width: 400px){

}




